@charset "utf-8";

*, 
*:after,
*:before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header
{    
    flex: 0 0 auto;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;
    background-color: black;    
}

main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calc
{
    width: 80vw;
    max-width: 400px;
    height: 100vh;
    max-height: 500px;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 15px;

}

#result
{
    color: black;
    text-align: right;
    background-color: aliceblue;
    padding: 15px;
    margin: 0px 0px 20px 0px;
    max-width: 100%;
    word-wrap: normal;
    word-break: break-all;
    min-height: 50px;
}

table { border-collapse: collapse; width: 100%; height: 85%; }

thead { height: calc(100% / 5); }

th, td
{
    color: white;
    text-align: center;
    vertical-align: middle;
    width: calc(100% / 4);
    height: calc(100% / 5);
    border: 1px solid white;
    cursor: pointer;
}

th:hover, td:hover
{
    background-color: #f0f8ffF0;
    color: black;
}